@use "../../../styles/partials/variables";

.topWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  display: flex;
  align-items: center;
}

.badge {
  margin-left: 8px;
}

.cardsWrapper {
  display: flex;
  flex-direction: column-reverse;
}

.cardA {
  margin-top: -155px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  opacity: 25%;
}

.cardB {
  margin-top: -155px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  opacity: 50%;
}
