@use "../../../styles/partials/spacing";
@use "../../../styles/partials/variables";

.paper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  padding-bottom: 1rem;
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
}
