@use "./variables";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

// Category Types
.income {
  color: variables.$income-color;
}

.groceries {
  color: variables.$groceries-color;
}

.utilities {
  color: variables.$utilities-color;
}

.entertainment {
  color: variables.$entertainment-color;
}

.rent {
  color: variables.$rent-color;
}

.transportation {
  color: variables.$transportation-color;
}

.insurance {
  color: variables.$insurance-color;
}

.investment {
  color: variables.$investment-color;
}

.savings {
  color: variables.$savings-color;
}

.debt {
  color: variables.$debt-color;
}

.other {
  color: variables.$other-color;
}

.mantine-Table-tbody .mantine-Table-tr[data-striped="odd"]:nth-of-type(odd) {
  background-color: rgba(variables.$primary-color, 0.1);
}
