@use "../../styles/partials/variables";

%list {
  font-size: variables.$font-size-sm;
  font-weight: variables.$font-weight-semibold;
  color: variables.$gray-800;
}

%list-item-active {
  background: rgba(variables.$primary-color, 0.1);
  color: variables.$black;

  .themeIcon {
    color: variables.$primary-color;
  }
}

%list-item-active-vertical {
  @extend %list-item-active;

  border-right: 4px solid variables.$primary-color;
}

%list-item-active-horizontal {
  @extend %list-item-active;

  //   border: 4px solid variables.$primary-color;
}
