@use "../../../styles/partials/variables";

.paper {
  overflow: hidden;
}

.tableWrapper {
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100%;
}

.table {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    position: sticky;
    top: 0; /* Keeps the header fixed at the top */
    z-index: 1; /* Ensures the header stays above the table body */
    background-color: variables.$white;
  }
}
