@use "../../../styles/partials/variables";
@use "../../core/List/list.module.scss";

.paper {
  height: 100%;
  padding: 6px 0 !important;

  h3 {
    display: flex;
    align-items: center;
    padding: 16px;
    color: variables.$black;

    div {
      margin-right: 12px;
      color: variables.$primary-color;
    }
  }
}

.list {
  @extend %list;
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
}

.listItem {
  padding: 16px;
  display: block;
}

.listItem:hover {
  @extend %list-item-active-vertical;
}

.listItemActive {
  @extend %list-item-active-vertical;
}

.themeIcon {
  background: unset;
  color: variables.$gray-800;
}
